<div class="container">
    <div class="header-row">
        <h5 #listTitle>Available Courses (Parent component)</h5>
        <div>
            <button class="btn btn-primary" (click)="logViewChildren(); isViewChildButtonClicked = true;">Log ViewChild Elements</button>
            <br />
            <span *ngIf="isViewChildButtonClicked">(See console log)</span>
        </div>
    </div>
    <div class="started-courses">
        Started courses:
        <span class="badge badge-pill badge-light" *ngFor="let course of startedCourses">{{ course?.title }}</span>
    </div>
    <div class="course-list">
        <!-- Passing data from parent to child component using Input property -->
        <!-- Passing data from child to parent component using Output property and Event emitter -->
        <app-course-card *ngFor="let course of courses"
            [course]="course"
            (courseStarted)="startCourse($event)"></app-course-card>
    </div>
</div>