<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item" routerLink="/courses" routerLinkActive="active">
          <a class="nav-link">Data Binding</a>
        </li>
        <li class="nav-item" routerLink="/demo-create-course" routerLinkActive="active">
          <a class="nav-link">Reactive Form</a>
        </li>
        <li class="nav-item" routerLink="/lifecycle-hooks" routerLinkActive="active">
          <a class="nav-link">Angular Lifecycle Hooks</a>
        </li>
        <li class="nav-item" routerLink="/service" routerLinkActive="active">
          <a class="nav-link">Service & DI</a>
        </li>
        <li class="nav-item" routerLink="/observable" routerLinkActive="active">
          <a class="nav-link">Observable</a>
        </li>
        <!-- <li class="nav-item" routerLink="/create-course" routerLinkActive="active">
          <a class="nav-link">Create Course</a>
        </li> -->
      </ul>
    </div>
  </nav>